# PART2 重回帰モデルを作ってみよう

## おまじない

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression as LR

## データの読み込み
- train.csvとtest.csvとsample.csvの３つのファイルを読み込みましょう
- それぞれを読み込んだものは変数はtrain, test, sampleに代入しましょう
- sampleを読み込む時は、header=Noneというオプションを忘れないようにしましょう

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sample = pd.read_csv('sample.csv', header=None)

## trainのweekの各値がそれぞれいくつあるか数えてみましょう

In [3]:
train['week'].value_counts()

木    43
水    43
金    41
火    41
月    39
Name: week, dtype: int64

## trainのweekを試しにダミー変数化してみよう
- pd.get_dummies関数を使います
- カッコの中にダミー変数化したい変数を書きます

In [4]:
pd.get_dummies(train['week'])

     月  木  水  火  金
0    1  0  0  0  0
1    0  0  0  1  0
2    0  0  1  0  0
3    0  1  0  0  0
4    0  0  0  0  1
..  .. .. .. .. ..
202  0  0  1  0  0
203  0  1  0  0  0
204  0  0  0  0  1
205  1  0  0  0  0
206  0  0  0  1  0

[207 rows x 5 columns]

## trainからweekとtemperatureを抜きだし、ダミー変数化したものを変数trainXに代入しよう

In [5]:
trainX = pd.get_dummies(train[['week', 'temperature']])

## trainXの中身を確認してみましょう

In [6]:
trainX.head()

   temperature  week_月  week_木  week_水  week_火  week_金
0         19.8       1       0       0       0       0
1         17.0       0       0       0       1       0
2         15.5       0       0       1       0       0
3         15.2       0       1       0       0       0
4         16.1       0       0       0       0       1

## trainからyを取り出し、変数yに代入しましょう

In [7]:
y = train['y']

## 回帰モデルの箱を用意しましょう
- 変数名はmodelとしましょう

In [8]:
model = LR()

## 重回帰モデルを作りましょう

In [9]:
model.fit(trainX, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## 作ったモデルの傾きや切片を確かめてみましょう

In [10]:
model.coef_

array([-2.53878074,  8.26339936, -9.47240196, -2.02873774,  1.85251984,
        1.38522051])

In [11]:
model.intercept_

135.69119841401601

# 実習

1.testからweekとtemperatureを抜きだし、ダミー変数化したものを変数testXに代入しよう

In [12]:
testX = pd.get_dummies(test[['week', 'temperature']])

2.testXの中身を確認しよう

In [13]:
testX.head()

   temperature  week_月  week_木  week_水  week_火  week_金
0         20.2       0       0       1       0       0
1         23.9       0       1       0       0       0
2         28.7       0       0       0       0       1
3         21.5       1       0       0       0       0
4         22.1       0       0       0       1       0

3.modelとtestXを使って予測をして、予測結果を変数名predに代入しよう

In [14]:
pred = model.predict(testX)

4.sample[1]にpredを代入して、"submit3.csv"というファイル名でファイル出力しよう

In [15]:
sample[1] = pred

In [16]:
sample.to_csv('submit3.csv', header=None, index=None)

In [17]:
model.score(trainX, y)

0.4603928202831875

5.submit3.csvをDeepAnalyticsに投稿して、submit1.csvやsubmit2.csvのスコアと比較してみよう